<?xml version="1.0" encoding="UTF-8"?>
<!--set debug="true" to receive status info-->
<configuration scan="true" scanPeriod="30 seconds">
    <!--<configuration>-->

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- This custom context listener provides variables -->
    <contextListener class="cz.muni.pa036.logging.utils.LoggerConfiguration"/>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/otherLibs-test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PA036_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/${LOG_FILE}-test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.dozer" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.apache.commons" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework" level="${SPRING_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!--Those are not needed, but keep them here as example-->
    <!--<logger name="org.springframework.test" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.beans" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.context" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.jdbc" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.web" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.aop" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>-->

    <logger name="org.hibernate" level="${HIBERNATE_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.hibernate.type" level="${HIBERNATE_TYPE_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PA036_FILE" />
    </logger>

    <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PA036_FILE" />
    </logger>

    <logger name="org.hibernate.SQL" level="${HIBERNATE_SQL_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PA036_FILE" />
    </logger>

    <logger name="cz.muni.pa036.logging" level="${PA036_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PA036_FILE" />
    </logger>

    <!--log only WARN or ERROR, unless specified otherwise-->
    <root level="${ROOT_LEVEL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>